#Python Data structure Questions

1.  What are data structures, and why are they important ?

    --> Python Data Stucture is a organized format of storing, managing, and make any neccessary changes effictiently.
    It is important to data mangement, problem solving, memory utilization, etc.

2.   Explain the difference between mutable and immutable data types with examples ?

     --> Mutable list are created to make changes as per the requirement.

     Example :

     list = [1,2,3,4]

     print(list)

     list.appent(5)

     Immutable list are created for fixed value that cannot be changed anytime.

     Example :

     a = "Hello"

     a + = "World!!"
     
     print(a)

3. What are the main differences between lists and tuples in Python ?

   --> List
   1.  List is Mutable.
   2.  List is deifined using square bracets[]

       Tuples
   1. Tuples are immutable.
   2. Tuples can be defined using parenthesis()

4. Describe how dictionaries store data ?

   --> Dictionary stores a date in the formant of key-value pair. Key must be unique and immutable and value can be mutable as as well as immutable.

5. Why might you use a set instead of a list in Python ?

   --> Using a set instead of python becuase it is faster than list, it does not allow duplicate element in set, it sort unordered element in ordered element, etc.

6. What is a string in Python, and how is it different from a list ?

  --> String is sequence of charecter that enclosed with single ('') and the double ("") quotes

  String is sequence of character and list is sequence of element.

  String is defined with singe and double quotes and list is defined using square brackets.

  string is immutable and list is mutable.

7. How do tuples ensure data integrity in Python ?

   --> Once the tuple is created with its element it cannot add, remove, and change element this immutability feature ensures the integrity of data.

8. What is a hash table, and how does it relate to dictionaries in Python ?

   --> Hash table is a daata structure that store a key pair value and python are built using hash tables.

9. Can lists contain different data types in Python ?
   
   --> Yes list contaain different data types in python becuare it is dynamic in nature.

10.  Explain why strings are immutable in Python ?
   
     --> Strings are immutable means it cannot be changed due its pperformance, security and programming practice. String can modified using concatenation.

11. What advantages do dictionaries offer over lists for certain tasks ?

    --> Dictionaries are faster for looking up specific values using keys, while lists require searching through all elements. They allow storing data as key-value pairs, making relationships clear and easy to manage. Dictionaries handle unique keys, helping to avoid duplicates. They're ideal for tasks requiring quick access or organized data.

12.  Describe a scenario where using a tuple would be preferable over a list ?

     --> In order to store my friend mobile number of friend tuples is more preferable over list because mobile number is unique.

13. How do sets handle duplicate values in Python ?

    --> Set stores a unique element and it automatically remove the duplicate element.

14.  How does the “in” keyword work differently for lists and dictionaries ?

     --> For list - 'in' keyword is used to check the element is exists in the list or not if exist then reture true else false.

     For dictionary - 'in' keyword is used to check the key exists or not. If not the return true else false.

15. Can you modify the elements of a tuple? Explain why or why not ?

    --> No,  Tuples are immutable meaning their contents cannot be changed after they are created. Once you assign a value to a tuple element, it becomes fixed and cannot be modified.

16. What is a nested dictionary, and give an example of its use case ?

    --> Nested dictionary is a dictionary inside a dictionary.

    Usecase :

    student = {

      "Alice":{"age":20, "grade":{"math":80,"english":90}
      
      "Bob":{"age":22,"grade":{"math:95,"english":80}
      
      }
    
    print(student["Bob"]["age"])
    
    output: 22
    
    print(student["Alice"]["grade"]["math'])
    
    output : 80

17. Describe the time complexity of accessing elements in a dictionary?

   --> The average time complexity of accessing element in a dictionary is O(1).
   It means the average time taken to extract value from key.

18.  In what situations are lists preferred over dictionaries ?
     --> List is prefered over a dictionary when the data is order, duplication are allow, elements are accessed by index, etc.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

    --> Dictionaries are considered unordered due to their hash table implementation that prioritizes fast lookups over maintaining the order of elements.

    Data retrieval from dictionaries is efficient because it’s based on keys, but if you need to retrieve elements in a specific order need to use other data structures, like lists, or explicitly sort the dictionary.

20.  Explain the difference between a list and a dictionary in terms of data retrieval ?

     -->In a list, data is retrieved by its position (index) we need to know the exact location. In a dictionary, data is retrieved using unique keys, which are easier to remember and find. Searching in a list can take longer for with many items. Dictionaries provide faster and more direct access to specific data.

# Python Data Structure Practical

In [ ]:
# 1. Write a code to create a string with your name and print it
name = "Hemant Vishwakarma"
print(name)

Hemant Vishwakarma

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
a= "Hello World"
len(a)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
a[0:3]

'Pyt'

In [ ]:
# 4. Write a code to convert the string "hello" to uppercaseE
a = "hello"
a = a.upper()
print(a)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a = a.replace("apple","orange")
print(a)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print itE
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4,5]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# 11.  Write a code to create a tuple with the elements 10, 20, 30 and print it.
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [ ]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')
tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [ ]:
# 13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [ ]:
# 15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
tuple = ('apple', 'orange', 'banana')
if "banana" in tuple:
  print("Yes")
else:
  print("no")

Yes

In [ ]:
# 16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
# 17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

# practical Q18 to 24 repeated